
.vs/CMake Overview
.vs/hw3/v17/.suo
.vs/hw3/v17/Browse.VC.db
.vs/hw3/v17/Browse.VC.db-shm
.vs/hw3/v17/Browse.VC.db-wal
.vs/hw3/v17/ipch/AutoPCH/29739e79de185f85/GROUP.ipch
.vs/hw3/v17/Browse.VC.opendb
.vs/hw3/v17/ipch/AutoPCH/61a490873c7babe7/TESTS.ipch
.vs/hw3/v17/ipch/AutoPCH/55db56417ce498bd/STUDENT.ipch
.vs/hw3/v17/ipch/AutoPCH/c4194f431ec138f5/GROUP.ipch
.vs/hw3/v17/ipch/AutoPCH/d9f363f6e93a223d/MAIN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
